.animation-element {
  opacity: 0;
  position: relative;

  &.slide-left {
    @include transition(all 500ms linear);
    @include translate(-100, 0, 0);
    &.in-view {
      opacity: 1;
      @include translate(0, 0, 0);
    }
  }

  &.slide-right {
    @include transition(all 500ms linear);
    @include translate(100, 0, 0);
    &.in-view {
      opacity: 1;
      @include translate(0, 0, 0);
    }
  }

  &.fade-in {
    @include transition(opacity 1.0s ease-in);
    &.in-view {
      opacity: 1;
    }
  }
  &.fade-in-fast {
    @include transition(opacity .5s ease-in);
    &.in-view {
      opacity: 1;
    }
  }

}
