@media only screen and (max-width: 600px) {
  .container-top{
    h1{
      font-size: 36px;
    }
    .introduction{
      font-size:18px;
    }

    .text{
      color: #777;
      text-align: left;
    }
  }
  .container-middle {
    .bread {
      width: 100%;
    }
    .header{
      h2{
        font-size:32px;
      }
    }
  }
  .container-bottom{
    footer{
      h3{
        font-size: 24px;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .row {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .container-top {
    .img-phone {
      display: block;
      max-width: 390px;
    }
  }
  .bread {
    margin-bottom: 10px;
    img {
      max-width: 220px;
    }
  }
}

@media only screen and (min-width: 992px) {
  .no-padding {
    padding: 0;
  }
  .container-top {
    h1 {
      font-size: 48px;
    }
  }
  .bread {
    margin-bottom: initial;
    img {
      max-width: 220px;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .container-top {
    .img-phone {
      max-width: initial;
    }
  }
  .bread {
    img {
      max-width: initial;
    }
  }
}